@import "../../../base";
@import "../../../mixin";

.collection-outer-container {
  width: 100vw;
  height: 477px;
  background: $bg-01;

  .collection-container {
    @include widthCenter;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    .text-container {
      .title {
        @include title;
        line-height: 3.25rem;
      }
      .describtion {
        font-size: 1.13rem;
        line-height: 25px;
        font-weight: 300;
        color: $text-color-black-2;
      }
    }
    .collection-card-container {
      display: flex;
      overflow-x: auto;
      gap: 19px;
      .cards {
        cursor: pointer;
      }
    }
  }
}
