@import "../../../base";
@import "../../../mixin";
.menu-container {
  @include widthCenter;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 40px;
  justify-content: center;
  .title-container {
    width: 100%;
    .title {
      @include title;
    }
  }
}
