.filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px auto;
}
.filter div {
  border: 1px solid rgb(105, 105, 105);
  padding: 5px 13px;
  border-radius: 6px;
  color: rgb(105, 105, 105);
}
