@import "../../base";
@import "../../mixin";
.filter {
  @include widthCenter;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px auto;

  div {
    border: 1px solid $gray-color;
    padding: 5px 13px;
    border-radius: 6px;
    color: $gray-color;
  }
}
