nav {
  max-width: 1100px;
  height: 72px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.img-container {
  width: 12%;
}
.img-container img {
  width: 100%;
}
ul {
  width: 88%;
  display: flex;
  justify-content: space-around;
}
.col-1 {
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
  display: flex;
  align-items: center;
  border-radius: .8rem;
}
li {
  list-style: none;
}

.location {
  height: 52px;
  width: max-content;

  outline: none;
  border: transparent;
  padding: 0px 15px;
  background: transparent;
}
.search-input {
  width: 411px;
  outline: none;
  border: transparent;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
}
.search-btn {
  border: transparent;
  height: 52px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.authentication {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.authentication li {
  font-size: 1rem;
  color: rgb(105, 105, 105);
  font-weight: 300;
  line-height: 1.5;
}
