@import "../../../base";
@import "../../../mixin";
.root-container {
  width: 100vw;
  height: 336px;
  margin: 2rem 0;

  .svg-container {
    display: flex;
    align-items: center;
    .svg-prev {
      position: absolute;
      left: 0;
    }
    .svg-next {
      position: absolute;
      right: 0;
    }
  }
  .order-container {
    position: relative;

    @include widthCenter;
    height: 100%;
    display: grid;
    place-content: center;
    gap: 1.44rem;
    .title {
      @include title;
    }

    .svg {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      margin-top: 0.94rem;
    }
    .svg-prev {
      left: -2.19rem;
    }

    .svg-next {
      right: -2.19rem;
    }
    .slider-contaier {
      display: flex;
      overflow-x: auto;
      gap: 1.25rem;
      align-items: center;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .img-card {
        display: grid;
        gap: 0.63rem;
        img {
          width: 9.75rem;
          height: 9.75rem;
          border-radius: 50%;
          margin: 0 4.8px;
          cursor: pointer;
        }
        .elem-title {
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          line-height: 2rem;
          color: $text-color-black;
        }
        .elem-time {
          text-align: center;
          font-weight: 400;
          font-size: 0.88rem;
          line-height: 1.06rem;
          color: $text-color-black;
        }
      }
    }
  }
}

@media (max-width: 76rem) {
  .svg {
    display: none;
  }
}
