@import "../../../base";
@import "../../../mixin";
.first-order-container {
  width: 100vw;
  height: 21rem;
  background: $bg-01;
  margin: 32px 0;
  display: flex;
  align-items: center;
  .order-container {
    @include widthCenter;
    display: flex;
    flex-direction: column;
    gap: .94rem;
    .title {
      @include title;
    }
    .icon-container {
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      position: relative;
      justify-content: space-between;
      .prev-svg {
        position: absolute;
        left: 0;
        cursor: pointer;
      }
      .next-svg {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }
    .images-container {
      width: auto;
      overflow-x: auto;
      display: flex;
      align-items: center;
      gap: .63rem;
      padding: .94rem 0;
      &::-webkit-scrollbar {
        width: 0;
      }
      .img-card {
        display: flex;
        flex-direction: column;
        gap: .63rem;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          margin: 0 5.44rem;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          color: $text-color-black-2;
        }
      }
    }
  }
}
